.Flex {
  display: flex;
}

.alignCenter {
  align-items: center;
} 

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd{
  justify-content: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEvently {
  justify-content: space-evenly;
}

.inline {
  display: inline-flex;
}